.todo-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 1em;

}

.todo-actions>* {
    font-size: 1.6em;
    size: 7em;
    color: #51aa75;
    margin: 0em .2em;
}

.todo-actions>*:hover{
    color: #6c6c6c;
    cursor: pointer;
}