.item {
    background-color: #f2efef;
    border-radius: 7px;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: .5em 0;
}

.item.inactive {
    background-color: rgba(134, 134, 134, 0.607)
}


.item-body {
    padding: .3em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.item h1 {
    font-size: 1em;
}

.item:hover .tickbox {
    background-color: white;

}

.item:hover p {
    text-decoration-style: double;

}

.item.checked {
    background-color: #ccc;
}

.tickbox {
    border-radius: 99px;
    height: 1.8em;
    width: 1.8em;
    border: 2px solid #51aa75;
    margin: .5em;
    position: relative;
}

.tickbox>* {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    font-size: 1.3em;
    color: #51aa75;
}