* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  padding: 0 8em;
  background-color: #474646;
}

@media (max-width:800px) {
  body {
    padding: 0;
  }
}