.nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 5em;
    background-color: #51aa75;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8em;
}

.nav>ul {
    margin: 0;
    display: flex;
}


.nav>ul>li {
    list-style-type: none;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 .5em;
}
.nav>ul>li:hover{
    color: #ddeee4;
}


@media (max-width:768px) {

    .nav {
        padding: 0 .5em;
    }
}