.card {
    
    width: 25em;
    padding: .5em;
    height: 100vh;
    border-radius: 7px;
    background-color:#ffffff;
    position: relative;
}


@media (min-width: 900px) {
    .card {
        background-color: #ffffff;
        width: 56em;
        
    }
}