.card {

    width: 100%;
    padding: .5em;
    height: auto;
    border-radius: 7px;
    background-color: #ffffff;
    position: relative;
    margin-top: 5em;

}


/* @media (min-width: 900px) {
    .card {
        background-color: #ffffff;
        width: 56em;
        
    }
} */